<div class="flash-message"><%= flash[:notice] %></div>
<div class="search-area">
  <%= search_form_for @q, url: search_spots_path do |f| %>
  <%= f.search_field :name_cont, placeholder:'施設名から探す'%>
  <br>
  <%= f.submit '検索' %>
  <% end %>
</div>
<div class="index-area">
  <h2>新着スポット</h2>
  <div class="slider">
    <button type="button" class="slick-prev"></button>
      <% @spots.each do |spot| %>
        <div class="contain">
          <%= link_to image_tag(spot.spot_image, class:"spot-image"), spot_path(spot) %>
          <%= link_to spot.name, spot_path(spot) %>
          <span><i class="fa-solid fa-location-dot"></i><%= spot.address %></span>
          <div id="index_favorites_buttons_<%= spot.id %>">
          <%= render partial: 'favorites/index_favorites', locals: { spot: spot} %>
        </div>
        <div id="index_gone_places_buttons_<%= spot.id %>">
          <%= render partial: 'gone_places/index_gone_places', locals: { spot: spot} %>
        </div>
        </div>
      <% end %> 
    <button type="button" class="slick-next"></button>
  </div>
</div>

<div class="search-container">
  <h2>エリア検索</h2>
  <ul class="search-list-area">
    <li id="hokkaido" class="area"><span>北海道</span></li>
    <li id="tohoku" class="area"><span>東北</span></li>
    <li id="kanto" class="area"><span>関東</span></li>
    <li id="chubu" class="area"><span>中部</span></li>
    <li id="kinki" class="area"><span>近畿</span></li>
    <li id="chugoku" class="area"><span>中国</span></li>
    <li id="shikoku" class="area"><span>四国</span></li>
    <li id="kyusyu" class="area"><span>九州</span></li>
    <li id="okinawa" class="area"><span>沖縄</span></li>
  </ul>
</div>