<div class="flash-message"><%= flash[:delete_alert] %></div>
<div class="spot-details-wrapper">
  <div class="top-wrapper">
    <h2 class="spot-name"><%= @spot.name %></h2>
    <% if current_user == @spot.user %>
      <div class="contributor-btn">
        <%= link_to "Edit",edit_spot_path(@spot), class:"edit btn"%>
        <%= link_to "Delete",spot_path(@spot), method: :delete, class:"delete btn"%>
      </div>
    <% end %>
  </div>
  <div class="spot-details">
    <div class="spot-image-wrapper">
      <div class="show-spot-image-bg">
        <%= image_tag @spot.spot_images[0] %>
      </div>
      <div class="show-spot-image-sm">
        <% @spot.spot_images[1..3].each do |spot_image|%>
          <% if spot_image.present? %>
            <%= image_tag spot_image %>
          <% else %>
            <%= image_tag "icons/no_image.png" %>
          <% end %>
        <% end %>
      </div>
      <% if current_user != @spot.user %>
        <div id="favorites_buttons_<%= @spot.id %>">
          <%= render partial: 'favorites/favorites', locals: { spot: @spot} %>
        </div>
        <div id="gone_places_buttons_<%= @spot.id %>">
          <%= render partial: 'gone_places/gone_places', locals: { spot: @spot} %>
        </div>
      <% end %>
    </div>
    <div class="contributor-info">
      <% if @spot.user.is_deleted == false %>
      <div class="contributor-prof">
        <%= image_tag(@spot.user.dog_image, id:"user_image") %>
        <div class="contributor-detail">
          <p><i class="fa-solid fa-user"></i><%= @spot.user.nickname %></p>
          <p><i class="fa-solid fa-dog"></i><%= @spot.user.dog_name %></p>
          <p><i class="fa-solid fa-paw"></i><%= @spot.user.dog_type.name %></p>
        </div>
      </div>
      <% else %>
      <div class="withdraw-user-info">
        <div><%= image_tag "icons/withdraw_user.png" %></div>
        <p><i class="fa-solid fa-user"></i>退会済みのユーザー</p>
      </div>
      <% end %>
      <div class="contributor-comment">
        <h3>COMMENT</h3>
        <%= @spot.comment %>
      </div>
      <div class="contributor-tags">
        <% @tags.each do |tag|%>
          <span><%= tag.tag_name%></span>
        <% end %>
        <%#= タグ一覧表示をする場所%>
      </div>
    </div>
  </div>

  <h2>ABOUT SPOT</h2>
  <div class="about-spot">
    <div class="about-spot-type">
      <p class="about-spot-title">スポットタイプ</p>
      <%= image_tag(@spot.spot_type.image) %>
      <%= @spot.spot_type.name %>
    </div>
    <div class="about-spot-type">
      <p class="about-spot-title">同伴</p>
      <%= image_tag(@spot.dog_permission.image) %>
      <%=@spot.dog_permission.name %>
    </div>
    <div class="about-spot-type">
      <p class="about-spot-title">サイズ</p>
      <%= image_tag(@spot.dog_size.image) %>
      <%=@spot.dog_size.name %>
    </div>
  </div>
  <div class="spot-addresses">
    <div id="spot-map"></div>
    <div class="spot-address">
      <h2>SPOT ADDRESS</h2>
      <div class="spot-info">
        <p>都道府県</p>
        <div><%= @spot.prefecture.name %></div>
      </div>
      <div class="spot-info">
        <p>住所</p>
        <div><%= @spot.address %></div>
      </div>
      <div class="spot-info">
        <p>電話番号</p>
        <div><%= @spot.phone_number %></div>
      </div>
      <div class="spot-info">
        <p>ウェブサイト</p>
        <div><%= @spot.website %></div>
      </div>
      <%# LINEメッセージ %>
      <div class="line-btn">
      <a class="js-sns-link" href="//timeline.line.me/social-plugin/share?url=&text=" target="_blank" rel="nofollow noopener noreferrer"><div class="line-it-button" data-lang="ja" data-type="share-a" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;"></div>
      <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script></a>
      <%# LINEメッセージ %>
      </div>
    </div>
  </div>
  <div class="comments-wapper">
    <% if user_signed_in? && current_user != @spot.user %>
    <h2>口コミ投稿</h2>
      <%= form_with model:[@spot, @comment], id:"comment-area",local:true do |f| %>
        <div class="comment-form">
          <%= f.text_area :content, placeholder:"口コミを記載してください",class:"content" %>
          <label class="form-image">
            <span class="image-file"><i class="fa-solid fa-camera fa-3x"></i></span>
            <%= f.file_field :comment_image, style: 'display: none' %>
          </label>
        </div>
        <%= f.submit "投稿", id:"comment-btn" %>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <h2>口コミ一覧</h2>
      <% if @comments.present? %>
        <div class="comment-lists">
          <% @comments.each do |comment| %>
            <li class="comment-list">
              <div class="comment-left">
                <% if comment.user.is_deleted == false %>
                  <%= image_tag(comment.user.dog_image, class:"comment-user-prof")%>
                <% else %>
                  <%= image_tag "icons/withdraw_user.png", class:"comment-user-prof"%>
                <% end %>
                <div class="user-comment-content">
                  <div class="comment-top">
                    <% if comment.user.is_deleted == false %>
                      <p class="comment-user-name"><%= comment.user.nickname %></p>
                    <% else %>
                      <p class="comment-user-name">退会済みのユーザー</p>
                    <% end %>
                    <p class="user-comment"><%= comment.content %></p>
                  </div>
                  <div class="comment-bottom">
                      <% if current_user == comment.user %>
                        <span id="edit-comment"><%= link_to "edit", edit_spot_comment_path(@spot, comment) %></span>
                        <span id="delete-comment"><%= link_to "delete", spot_comment_path(@spot, comment), method: :delete %></span>
                      <% end %>
                  </div>
                </div>
              </div>
              <%= image_tag(comment.comment_image, class:"comment-img") %>
            </li>
          <% end %>
        </div>
      <% else %>
        <p>まだ口コミがありません</p>
      <% end %>
    <% end %>
  </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%="#{ENV['GOOGLE_MAPS_API']}"%>&libraries=places"></script>