<!DOCTYPE html>
<html>
  <head>
    <title>OneTogether</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v6.1.0/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <p id="header-icon"><i class="fa-solid fa-dog fa-3x"></i></p>
      <ul id="header-lists">
        <li><%= link_to 'マイページ', '#' , class:'header-list' %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'header-list' %></li>
        <li><%= link_to 'スポット登録', '#' , class:'header-list'%></li>
        <li><%= link_to 'ログイン', new_user_session_path , class:'header-list'%></li>
        <li><%= link_to '新規登録', new_user_registration_path, class:'header-list' %></li>
      </ul>  
    </header>
      <%= yield %>
    <footer>
      <p>©︎2022 XXXXXX</p>
    </footer>
  </body>
</html>
